#joao {
    background-position: left;
    background-image: url(img/lUBjuiT7_400x400.jpg);
    width: 50px;
    height: 50px;
}

#isac {
    background-image: url(img/henrique-alves-stich-e-angel.gif);
    width: 50%;
    height: 50%;
    
}